
.scrollbar-custom {
  scrollbar-width:auto;            /* Firefox */
  scrollbar-color: #888 transparent;
}


.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}